.container{
    width: 500px;
    margin: 0 auto;
    text-align: center;

}

#counter{
    font-size: 32px;

}

button{
    font-size: 20px;
    padding: 10px 15px;
    margin: 10px;
}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}